<h3>Create A New Nail Art</h3>

<form	action="/create" method="post" id="art" enctype="multipart/form-data">
	<p>
		<label>Blog ID:</label><br />
		<input type="text" name="art[blog_id]" id="blog_id" />	
	</p>
	<p>
		<label>Blog:</label><br />
		<input type="text" name="art[blog]" id="blog" />
	</p>
	<p>
		<label>Blogger:</label><br />
		<input type="text" name="art[blogger]" id="blogger" />
	</p>
	<p>
		<label>Title:</label><br />
		<input type="text" name="art[title]" id="title" />
	</p>
	<p>
		<label>Description:</label><br />
		<input type="text" name="art[description]" id="description" />
	</p>
	<p>
		<label>Blog URL:</label><br />
		<input type="text" name="art[blog_url]" id="blog_url" />
	</p>
	<p>
		<label>Filename:</label><br />
		<input type="text" name="art[filename]" id="filename" />
	</p>
	<p>
		<label>URL:</label><br />
		<input type="text" name="art[url]" id="url" />
	</p>
  	<p>
		<label>Image File:</label><br />
		<input type="file" name="image" id="image" />
	</p>
	<p>
		<input type="submit">
	</p>
</form>
