<section="voted">

	<img src="/assets/thanks.jpg" alt="Thanks for Voting"/>
	
	<form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" class="clearfix" style="margin-bottom:0;">

	                <div align="center">
	                  <input type="text" name="ea" size="20" value="Enter e-mail address" onclick="this.value='';" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:11px; border:0px solid #ffffff;">
	                  <input type="submit" name="go" value="Subscribe" class="submit"  style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px;">
	                  <input type="hidden" name="llr" value="6mpiveeab">
	                  <input type="hidden" name="m" value="1103621683206">
	                  <input type="hidden" name="p" value="oi">
	                </div>
	              </form>
</section>