/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  color: #fff;
  font: 12px/1.5em Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 800px;
  overflow-x: hidden;
}

header {
 background-image: url('/assets/header.jpg');	 
 height: 382px;
 width: 800px;
}

nav {
	width:800px;
}

nav #left_nav {
	float: left;
}

nav #right_nav {
	float: right;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #41c7bb;
}

a:hover, a:active {
	color: #059285;
}


.button-link {
	padding: 10px;
}

.button-link:link, .button-link:visited {
	color: #059285;
	background-color: #fff;
	border: 1px solid #059285;	
}

.button-link:hover, .button-link:active {
	color: #fff;
	background-color: #33cccc;
	border: 1px solid #006666;
}





/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
