/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  color: #fff;
  font: 12px/1.5em Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
 background-image: url('/assets/header.jpg');	 
}









/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
